// SASS COMPILER: sass --watch css/styles.scss:css/styles.css

/* BREAKPOINTS */
$xs: 480px;
$s: 600px;
$md: 768px;
$md_plus1: 769px;
$md-lg: 960px;
$lg: 1024px;
$lg-xl: 1280px;
$xl: 1440px;

// COLORS
$dark-blue: #141c3a;
$pink: #db309a;
$green: #5be9b9;
$grey-border: #e6ecf8;
$background-grey: #f9f9f9;
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
* {
  box-sizing: border-box;
}
#more {
  display: none;
}
@media only screen and (min-width: 0) {
  html {
    min-height: 100%;
    overflow: visible;
    scroll-behavior: smooth;
    body {
      color: $dark-blue;
      font-family: 'Poppins', sans-serif;
      background-color: $background-grey;
      font-weight: 300;
      margin: 0;
      padding: 0;
      main {
        padding: 15px 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        color: $dark-blue;
        a {
          color: rgb(0, 0, 0);
          text-decoration: none;
          cursor: pointer;
          font-weight: 400;
        }
        p {
          line-height: 1.8rem;
          font-size: 1em;
          font-weight: 300;
        }
        h2 {
          padding: 0 0 20px 0;
          font-weight: 800;
          margin: 19px 0 0 0;
          text-align: center;
        }
        h3 {
          font-weight: 900;
          margin: 0;
        }
        > svg {
          height: 4rem;
          z-index: -1;
          display: block;
          left: 50%;
          transform: translateX(-50%);
          box-sizing: border-box;
          overflow: hidden;
          position: absolute;
          width: 100%;
          top: -1px;
          fill: $pink;
        }
        > img {
          max-width: 250px;
          margin: 50px 0 0 0;
        }
        section {
          padding: 5px 0;
          display: block;
          width: 100%;
          box-sizing: border-box;
          margin: 0;
          > div {
            padding: 0px 20px;
            display: flex;
            max-width: 1000px;
            margin: 0 auto;
            background-color: $background-grey;
          }
          .pink {
            color: $pink;
          }
          .green {
            color: $green;
          }
          &.about {
            border-top: 5px solid $dark-blue;
            border-bottom: 5px solid $dark-blue;
            padding-bottom: 0;
            // background-color: #7fffd4;
            figure {
              display: none;
            }
            p {
              font-size: 1.2em;
              line-height: 2.2rem;
              padding: 5px 0;
              color: $dark-blue;
              font-weight: 400;
            }
            > div {
              flex-direction: column;
              > div {
                margin: 0 1rem 0 0;
                flex: 1;
              }
            }
          }
          &.skills {
            display: flex;
            justify-self: center;
            flex-direction: column;
          }
          &.brands {
            .carousel {
              display: none;
            }
            > div {
              flex-direction: column;
              p {
                margin: 0;
                padding: 10px 0;
              }
              ul li {
                line-height: 1.8rem;
                font-size: 0.9rem;
                font-weight: 300;
              }
              .tab {
                overflow: hidden;
                border-right: 1px solid $grey-border;
                border-left: none;
                border-bottom: none;
                border-top: none;
                background-color: white;
                button {
                  background-color: inherit;
                  float: left;
                  border: none;
                  outline: none;
                  cursor: pointer;
                  padding: 14px 16px;
                  transition: 0.3s;
                  font-size: 17px;
                  &:hover {
                    background-color: white;
                  }
                  &.active {
                    background-color: $green;
                  }
                }
              }
              .tabcontent {
                border-top: none;
                background-color: white;
                border-radius: 0 0 6px 6px;
                box-shadow:
                  0 5px 5px 0 rgba(233, 240, 243, 0.5),
                  0 0 0 1px $grey-border;
                flex-direction: column;
                margin-bottom: 50px;
                display: none;
                padding: 15px 30px;
                -webkit-animation: fadeEffect 1s;
                animation: fadeEffect 1s;
                > div {
                  display: flex;
                  figure {
                    display: block;
                    overflow: hidden;
                    height: 150px;
                    width: 150px;
                    padding: 0;
                    margin: 0 10px 10px 10px;
                    img {
                      max-width: 200px;
                      height: auto;
                      width: 100%;
                      cursor: pointer;
                    }
                  }
                }
              }
              @-webkit-keyframes fadeEffect {
                from {
                  opacity: 0;
                }
                to {
                  opacity: 1;
                }
              }
              @keyframes fadeEffect {
                from {
                  opacity: 0;
                }
                to {
                  opacity: 1;
                }
              }
              .modal {
                display: none; /* Hidden by default */
                position: fixed;
                z-index: 1000;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: auto;
                background-color: rgba(0, 0, 0, 0.8);
                .modal-content {
                  margin: auto;
                  display: block;
                  width: 80%;
                  max-width: 700px;
                  img {
                    width: 100%;
                    margin: 50px auto;
                  }
                }
                .modal-close {
                  position: absolute;
                  top: 10px;
                  right: 15px;
                  color: #fff;
                  font-size: 40px;
                  font-weight: bold;
                  transition: 0.3s;
                  &:hover,
                  &:focus {
                    color: #bbb;
                    text-decoration: none;
                    cursor: pointer;
                  }
                }
              }
            }
          }
          &.testimonials {
            background-color: $dark-blue;
            color: white;
            > div {
              background-color: $dark-blue;
              flex-direction: column;
              button {
                background-color: $pink;
                color: white;
                outline: none;
                border: none;
                padding: 10px 0;
                font-size: 16px;
                margin: 0 0 20px;
              }
              span {
                margin: 12px 0px;
                &:after {
                  color: $pink;
                  content: close-quote;
                  font-size: 3em;
                  font-family: auto;
                  line-height: 0.1em;
                  margin-left: 0.25em;
                  vertical-align: -0.4em;
                }
                &:before {
                  color: $pink;
                  content: open-quote;
                  font-size: 3em;
                  font-family: auto;
                  line-height: 0.1em;
                  margin-right: 0.25em;
                  vertical-align: -0.4em;
                }
              }
              p {
                i {
                  display: block;
                  padding: 5px 0 0 0px;
                  font-weight: 700;
                }
              }
            }
          }
          &.contact {
            margin: 0;
            > div {
              flex-direction: column;
              figure {
                display: none;
              }
              > div {
                margin: 0 1rem 0 0;
                flex: 1;
                max-width: 580px;
              }
            }
          }
          .column-container {
            margin: 0 auto 10px;
            width: 100%;
            background-color: white;

            display: flex;
            flex-direction: column;
            .column {
              border-bottom: 0px solid $grey-border;
              border-right: none;
              display: flex;
              flex-direction: column;
              align-items: center;
              flex-basis: 0;
              flex-grow: 1;
              flex-shrink: 1;
              padding: 10px 30px 20px;
              background-color: white;
              &:last-child {
                border-right: 0;
              }
              h3 {
                text-align: center;
                color: $dark-blue;
                font-weight: 600;
              }
              figure {
                border: 2px solid $green;
                background-color: $green;
                position: relative;
                border-radius: 50%;
                width: 70px;
                height: 70px;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                  height: 40px;
                }
              }
              p {
                text-align: center;
              }
              ul {
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                  padding: 4px 0;
                  text-align: center;
                }
              }
            }
          }
        }
      }
      nav {
        overflow: hidden;
        background-color: $dark-blue;
        color: white;
        display: flex;
        flex-direction: column;
        #myLinks {
          display: none;
        }
        a {
          color: white;
          padding: 14px 16px;
          text-decoration: none;
          font-size: 17px;
          display: block;
          &.icon {
            background: $dark-blue;
            color: white;
            display: block;            
          }
          &:hover {
            background-color: $pink;
            color: white;
          }
        }
      }
      header {
        background-color: $pink;
        padding: 5px 0 0 0;
        h1 {
          text-align: center;
          font-size: 1em;
          font-weight: 900;
          color: white;
          margin: 0;
        }
      }
      footer {
        background-color: $dark-blue;
        color: white;
        text-align: center;
        padding: 10px 0;
        bottom: 0;
        width: 100%;
        p,
        a {
          font-size: 0.7rem;
          margin: 0;
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

@media only screen and (min-width: $s) {
  html body {
    header {
      padding: 20px 0 0 0;
      h1 {
        font-size: 3em;
      }
    }
    nav {
      flex-direction: row;
       a.icon {display: none;}
      #myLinks {
        display: flex;
        flex-direction: row;
        a {    
          padding: 10px 20px;
        }
      }
    }
    main {
      padding: 150px 0 0 0;
      > svg {
        height: 10rem;
      }
      h2 {
        padding: 20px 0 20px;
        font-size: 2.5em;
      }
      > img {
        max-width: 500px;
      }
      section {
        padding: 24px 0;
        > div {
          padding: 30px 20px;
        }
        .column-container {
          margin: 0 auto 50px;
        }
        &.testimonials {
          > div {
            button {
              margin: 0;
              cursor: pointer;
            }
          }
        }
        &.about {
          > div {
            > div {
              max-width: 580px;
            }
          }
        }
        &.brands {
          p {
            max-width: 80%;
          }
          .carousel {
            display: flex;
            overflow: hidden;
            background-color: white;
            flex-direction: row;
            padding: 65px 0px;
            border-radius: 4px;
            position: relative;
            max-width: 1000px;
            padding: 30px 20px;
            > div {
              animation: scroll 30s linear infinite;
              display: flex;
              flex-direction: row;
              > div {
                width: 150px;
                margin-right: 60px;
                flex-shrink: 0;
                display: flex;
                img {
                  object-fit: contain;
                  width: 100%;
                }
              }
            }
          } /* Styles for the modal */
        }
        &.contact > div {
          flex-direction: row;
          figure {
            margin: 0;
            display: block;
            img {
              width: 100%;
              height: auto;
              max-width: 160px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: $md-lg) {
  html {
    body {
      main {
        section {
          &.about {
            figure {
              display: block;
              position: relative;
              bottom: -406px;
              img {
                max-width: 190px;
                margin: 0 auto;
              }
            }
          }
          &.about > div,
          .column-container {
            flex-direction: row;
          }
          .column-container {
            border-radius: 6px;
            box-shadow:
              0 5px 5px 0 rgba(233, 240, 243, 0.5),
              0 0 0 1px $grey-border;
            .column {
              border-right: 1px solid $grey-border;
            }
          }
          &.skills {
            background-color: $dark-blue;
          }
        }
      }
    }
  }
}
